@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Task Manager App</h1>
</div>

<div>
    <a href="/TaskItems/Create" class="btn btn-warning">Add New Task</a>
</div>

<div class="d-flex justify-content-center align-items-center">
    <div >
        <div>
            <img src="/Images/task.jpg" alt="TaskApp" class="w-250" />
        </div>
    </div>
</div>